@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#title {
	background-color: bisque;
}

.second-title {
	background-color: brown;
}

li {
	background-color: gray;
}

.selected {
	background-color: red;
}

.selected2 {
	background-color: rgb(76, 76, 119);
}

.select {
	background-color: yellow;
}